
{% extends 'base.html'%}
{% block content %}
<form method="post">
    name <input type="text" name="title" autocomplete="off" required>
    year <input type="text" name="year" autocomplete="off" required>
    <input class="but" type="submit" name='submit' value="提交">
</form>
<ul class="movie-list">
        {% for movie in movies%}
        <li>
          <span> {{movie.title}} - {{movie.year}}</span> 
          <span><a  target="_blank" href="https://movie.douban.com/subject_search?search_text={{movie.title}}">豆瓣搜索</a></span>
          {% if current_user.is_authenticated%}
          <span><a  target="_blank" href="{{url_for('edit',movie_id=movie.id)}}">edit</a></span>
          <form class="inline-form" method="post" action="{{ url_for('delete', movie_id=movie.id) }}">
              <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
          </form>
          {%endif%}
        </li>
        {%endfor%}
    </ul>
    <h1> {{ current_user.is_authenticated}}</h1>
{% endblock %}